apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: componentb-devfile-sample-go-basic-private-devfile-nested-sj7z
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-iymy-tenant/mc-golang-nested/componentb-devfile-sample-go-basic-private-devfile-nested-sj7z@sha256:d58e5b93e9b588ff3e9b125316fd9c830368acd3670dc3a586adf0933334c1f5
        name: my-go
        resources: {}
status: {}
